In [1]:
# 导入 pandas 第三方包
import pandas as pd

In [2]:
df = pd.read_csv('./datas/weather.csv')
df

             日期   城市  行政区  观测站  气温(度)  相对湿度(%)  累积雨量(mm)
0    2015-01-01  新北市  烏來區   福山  13.7℃       92       0.0
1    2015-01-02  臺南市  安平區   安平  23.5℃       70       0.0
2    2015-01-03  臺東縣  東河鄉  七塊厝  19.6℃       86       0.0
3    2015-01-04  新北市  貢寮區   福隆  14.2℃       96     -99.0
4    2015-01-05  南投縣  仁愛鄉  小奇萊   8.3℃       57       0.0
..          ...  ...  ...  ...    ...      ...       ...
479  2016-04-24  新北市  板橋區   板橋  15.6℃       73       5.0
480  2016-04-25  宜蘭縣  大同鄉  翠峰湖   7.8℃      100       0.0
481  2016-04-26  花蓮縣  壽豐鄉   大坑  15.7℃       94       0.0
482  2016-04-27  新竹縣  五峰鄉   雪霸  15.7℃       62       0.0
483  2016-04-28  桃園市  大溪區   大溪  14.8℃       77       8.0

[484 rows x 7 columns]

In [3]:
# 删除某列 axis 为1 ，按照列进行删除
df.drop("累积雨量(mm)",axis = 1)

             日期   城市  行政区  观测站  气温(度)  相对湿度(%)
0    2015-01-01  新北市  烏來區   福山  13.7℃       92
1    2015-01-02  臺南市  安平區   安平  23.5℃       70
2    2015-01-03  臺東縣  東河鄉  七塊厝  19.6℃       86
3    2015-01-04  新北市  貢寮區   福隆  14.2℃       96
4    2015-01-05  南投縣  仁愛鄉  小奇萊   8.3℃       57
..          ...  ...  ...  ...    ...      ...
479  2016-04-24  新北市  板橋區   板橋  15.6℃       73
480  2016-04-25  宜蘭縣  大同鄉  翠峰湖   7.8℃      100
481  2016-04-26  花蓮縣  壽豐鄉   大坑  15.7℃       94
482  2016-04-27  新竹縣  五峰鄉   雪霸  15.7℃       62
483  2016-04-28  桃園市  大溪區   大溪  14.8℃       77

[484 rows x 6 columns]

In [11]:
# 删除某列 axis 为 0 ，按照行进行删除
df2 =df.drop(0,axis = 0)
df2

             日期   城市  行政区  观测站  气温(度)  相对湿度(%)  累积雨量(mm)
1    2015-01-02  臺南市  安平區   安平  23.5℃       70       0.0
2    2015-01-03  臺東縣  東河鄉  七塊厝  19.6℃       86       0.0
3    2015-01-04  新北市  貢寮區   福隆  14.2℃       96     -99.0
4    2015-01-05  南投縣  仁愛鄉  小奇萊   8.3℃       57       0.0
5    2015-01-06  嘉義縣  大林鎮   大林  23.2℃       63       0.0
..          ...  ...  ...  ...    ...      ...       ...
479  2016-04-24  新北市  板橋區   板橋  15.6℃       73       5.0
480  2016-04-25  宜蘭縣  大同鄉  翠峰湖   7.8℃      100       0.0
481  2016-04-26  花蓮縣  壽豐鄉   大坑  15.7℃       94       0.0
482  2016-04-27  新竹縣  五峰鄉   雪霸  15.7℃       62       0.0
483  2016-04-28  桃園市  大溪區   大溪  14.8℃       77       8.0

[483 rows x 7 columns]

In [13]:
# 删除某列 axis 为 0 ，按照行进行删除
df3 = df.drop([1,2],axis = 0)

             日期   城市  行政区  观测站  气温(度)  相对湿度(%)  累积雨量(mm)
0    2015-01-01  新北市  烏來區   福山  13.7℃       92       0.0
3    2015-01-04  新北市  貢寮區   福隆  14.2℃       96     -99.0
4    2015-01-05  南投縣  仁愛鄉  小奇萊   8.3℃       57       0.0
5    2015-01-06  嘉義縣  大林鎮   大林  23.2℃       63       0.0
6    2015-01-07  花蓮縣  玉里鎮   玉里  18.5℃       85       0.0
..          ...  ...  ...  ...    ...      ...       ...
479  2016-04-24  新北市  板橋區   板橋  15.6℃       73       5.0
480  2016-04-25  宜蘭縣  大同鄉  翠峰湖   7.8℃      100       0.0
481  2016-04-26  花蓮縣  壽豐鄉   大坑  15.7℃       94       0.0
482  2016-04-27  新竹縣  五峰鄉   雪霸  15.7℃       62       0.0
483  2016-04-28  桃園市  大溪區   大溪  14.8℃       77       8.0

[482 rows x 7 columns]

In [14]:
# mean() 统计函数 
df['相对湿度(%)'].mean()

-190.59297520661158

In [ ]:
# 导入 numpy 包
import numpy as np

In [15]:

my_df = pd.DataFrame([
    [1,2,3,4],
    [5,6,7,8],
    [9,10,11,12]
])
my_df

   0   1   2   3
0  1   2   3   4
1  5   6   7   8
2  9  10  11  12

In [18]:
my_df2 =pd.DataFrame(
    np.arange(1,13).reshape(3,4),
    columns = ['A','B','C','D']
)
my_df2

   A   B   C   D
0  1   2   3   4
1  5   6   7   8
2  9  10  11  12

In [27]:
my_df2['A'].mean()

5.0

In [28]:
my_df2['B'].mean()

6.0

In [29]:
my_df2['C'].mean()

7.0

In [30]:
my_df2['D'].mean()

8.0

In [31]:
#  mean(axis = 1 表示 合并列）
my_df2.mean(axis = 1)

0     2.5
1     6.5
2    10.5
dtype: float64

In [32]:
#  mean(axis = 0 合并行）
my_df2.mean(axis = 0)

A    5.0
B    6.0
C    7.0
D    8.0
dtype: float64

# 练习题目
创建一个 DataFrame 对象，
列标签： 学号、 姓名、 年龄、收入、家庭地址
行数不少于 10行
添加一列，列标签为手机号
添加一行，该行的信息为：1009,'张三',18,10000,'南京市。。。区'
求 收入的最高值 和最低值 和平均值
求 添加一列为“收入等级”：当收入大于10000元，标注为高收入 ，10000 —— 5000，标注为中等收入，低于5000，标注为低收入 
将对象保存到 excel 文件中，文件名为"city_salary.xlsx"